name: Main CI

on:
  push:
    branches: [ "*" ]
  pull_request:
    branches: [ master ]

jobs:

  test:
    name: Test
    runs-on: ubuntu-latest

    strategy:
      matrix:
        go-version: ["1.14", "1.18", "1.20", "1.21", "1.22", "1.23", "1.24", "^1.25"]

    steps:

    - name: Set up Go 1.x
      uses: actions/setup-go@v2
      with:
        go-version: ${{ matrix.go-version }}

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2

    - name: Get dependencies
      run: |
        go mod download
  
    - name: Run Tests
      run: go test -v -cover github.com/zekroTJA/ratelimit

  coverage:
    name: Coverage
    runs-on: ubuntu-latest

    steps:

    - name: Set up Go ^1.25
      uses: actions/setup-go@v2
      with:
        go-version: ^1.25

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2

    - name: Get dependencies
      run: |
        go mod download

    - name: Run Tests
      run: |
        go test -race -covermode atomic -coverprofile=covprofile  github.com/zekroTJA/ratelimit

    - name: Install goveralls
      run: go install github.com/mattn/goveralls@latest

    - name: Send coverage
      env:
        COVERALLS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: goveralls -coverprofile=covprofile -service=github